html { 
  background: url(img/bg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
        height: 100%;
}
body{

}

#weather {
    padding: 20px;
    width: 300px;
    height: 100%;
    color: white;
    background-color: black;
    background-color: rgba(0,0,0,0.5);
    
    -webkit-box-shadow: 7px 9px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 16px 0px rgba(0,0,0,0.75);

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

#spinner {
    display: block;
    margin: auto;
    padding-top: 10px;
    width: 100%;
}
